.password {
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 100;
  margin-bottom: -100vh;
  background-color: rgba(31, 29, 29, 0.589);
  position: fixed;
  overflow: hidden;
  vertical-align: center;
}

.passwordBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* add code below to also center horizontally */
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 710px;
  height: 380px;
  border-radius: 10px;
  background-color: white;

  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px 20px 30px;
}

.passwordButton {
  background-color: #7764e4;
  color: white;
  width: 130px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  padding: 0 0 0 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 6px #2c28281c;
  margin-right: 20px;
}

.passwordButton:hover {
  background-color: #9a8ceb;
}

.cancelButton {
  border: 1px solid #172b4d;
  color: #172b4d;
  width: 100px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  padding: 0 0 0 0;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  box-shadow: 0px 3px 6px #2c28281c;
}
.cancelButton:hover {
  background-color: rgb(238, 235, 235);
}

.prodDesc {
  height: 120px;
  width: 640px;
  border: 0;
  box-shadow: 0px 2px 4px #1717172e;
  border-radius: 5px;
}

.textBoxes {
  width: 300px !important;
}
